body {
    background-color: #f5f5f5;
    max-width: 1200px;
    position: relative;
    margin: auto;
}
            
footer {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}
            
#sidebar {
    height: 100%;
    padding-right: 0;
    margin-top: 0px;
}

#sidebar .affix {
    width:230px;
}

#sidebar .affix-bottom {
    position:fixed;
    top:55;
    width:230px;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -25%;
    }

    .row-offcanvas-left.active {
        left: 25%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 25%;
        margin-left: 10px;
    }

    page-header {
        padding-top: -200px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    background-color: #f5f5f5;
    background-color: #5E5E5E;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: -15px;
    padding-bottom: 10px;
}
.nav-sidebar > li > a {
    padding-right: 300px;
    padding-left: 20px;
    color: #f5f5f5;
}
.nav-sidebar > li > a > h4  {
    background-color: #428bca !important;
    
}

.nav-sidebar li.top{
    background-color: #428bca !important;
}
.nav-sidebar > li > a:hover {
    color: #999;
}
.nav-sidebar > .active > a:hover {
    color: #999 !important;
}
.nav-sidebar > .active > a.me {
    color: #fff !important;
    background-color: #428bca;
    margin-left: -10px;
}
.nav-sidebar li.top{
    margin-left: -10px !important;
    padding-left: 10px;
}
.nav-sidebar > .active > a > h4{
    color: #fff !important;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    padding-top: 0px;
    margin-top: -25px;
    background-color: #fff;
}

.jumbo {
    margin-bottom: 0px;
    margin-top: -25px;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #428bca;
}


.page-header {
    padding-top: 30px;
}
            
.white {
    color: #fff !important;
}
            
@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.main .page-header {
    margin-top: 0;
}
            
iframe {
    width: 900px;
    height: 650px;
    border: 0px;
}